#leftRail {
  background: $blue;
  height: 100%;
  margin-right:0;
  width: 15%;
  #logo {
    background: $white;
    padding:25px;
  }
  .mainMenu {
    background: darken($yellow, 10%);
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        color: #fff;
        padding: 15px;
        text-transform: uppercase;
        a {
          color: $white;
        }
      }
    }
    #subMenu {
      background: darken($yellow, 20%);
      margin-top: 15px;
      position: absolute;
      li {
        text-transform: none;
      }
    }
    .slideUp {
      display: none;
    }
    .hasMenu {
      &:hover {
        .slideUp {
          display: block;
          @include transitionEase;
        }
      }
    }
  }
  #copyrights {
    color: $white;
    font-size: 12px;
    margin: 0 auto;
    padding: 15px;
    position: absolute;
    bottom: 15px;
    text-align: center;
  }
}