@import url('https://fonts.googleapis.com/css?family=Righteous|Lobster|Nunito');

$righteous: 'Righteous', cursive;
$lobster: 'Lobster', cursive;
$nunito: 'Nunito', sans-serif;
$sans-serif: 'Lato', sans-serif;
$serif: 'Georgia';

// colors
$blue: #01acff;
$lime: #9de263;
$green: #2fce6f;
$navy: #2a3d54;
$denim: #567191;
$white: #ffffff;
