@using LeagueTrackerWebApp.Models
@model ResetModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_TierLayout.cshtml";
}

<p>Enter your usename below to reset your password.</p>
@using (Html.BeginForm())
{
    @Html.TextBoxFor(x => x.Email)
    @Html.ValidationMessageFor(x => x.Email)
    <input type="button" value="Reset Password" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}