@import url("https://fonts.googleapis.com/css?family=Righteous|Lobster|Nunito");
@import url("../css/bootstrap.css");
#form {
  background: #ffffff;
  border: 1px solid #0f6769;
  border-radius: 3px;
  font-family: "Helvetica Neue", Helvetica, sans;
  margin: 50px auto;
  padding: 30px;
  width: 300px; }
  #form input {
    border: 1px solid #adadad;
    border-radius: 3px;
    font-size: 14px;
    height: 30px;
    margin: 3px auto 10px;
    padding-left: 5px;
    width: 95%; }
    #form input:focus {
      outline: none !important;
      border-color: #719ECE; }
  #form label {
    background: #fff;
    color: #adadad;
    position: relative;
    top: 28px;
    left: 5px;
    -webkit-transition: all ease .15s;
    -moz-transition: all ease .15s;
    -o-transition: all ease .15s;
    transition: all ease .15s; }
  #form .beamMeUp {
    background: #fff;
    color: #719ECE;
    font-size: 12px;
    padding: 0 2px;
    position: relative;
    top: 10px;
    left: 8px;
    -webkit-transition: all ease .15s;
    -moz-transition: all ease .15s;
    -o-transition: all ease .15s;
    transition: all ease .15s; }

html {
  height: 100%;
  width: 100%; }

body {
  background: #01acff;
  font-family: "Nunito", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0; }
  body h1 {
    font-family: "Lobster", cursive;
    font-size: 46px;
    line-height: 48px; }
  body h2 {
    font-family: "Lobster", cursive;
    font-size: 40px;
    line-height: 42px; }
  body h3 {
    font-family: "Lobster", cursive;
    font-size: 36px;
    line-height: 38px; }
  body h4 {
    font-family: "Righteous", cursive;
    font-size: 28px;
    line-height: 30px; }
  body h5 {
    font-family: "Righteous", cursive;
    font-size: 24px;
    line-height: 26px; }
  body h6 {
    font-family: "Righteous", cursive;
    font-size: 22px;
    line-height: 24px; }
  body p {
    font-size: 20px; }
  body a {
    font-size: 20px;
    text-decoration: none; }

#mainWrapper {
  overflow-x: hidden;
  width: 100%; }

.left-rail {
  background: #2a3d54;
  border-right: 5px solid #9de263;
  border-left: 5px solid #111821;
  height: 100vh;
  padding: 15px; }
  .left-rail .title {
    color: #ffffff;
    padding: 5px 0 30px;
    text-align: center; }
  .left-rail .login,
  .left-rail .register {
    background: #567191;
    border-top: 5px solid #9de263;
    border-bottom: 5px solid #435871;
    border-radius: 5px;
    margin: 15px auto; }
    .left-rail .login h4,
    .left-rail .register h4 {
      color: #ffffff;
      text-align: center; }
    .left-rail .login .form-close,
    .left-rail .register .form-close {
      display: none; }
    .left-rail .login .form-open,
    .left-rail .register .form-open {
      display: block; }
    .left-rail .login form,
    .left-rail .register form {
      margin: 25px auto; }
      .left-rail .login form input,
      .left-rail .register form input {
        border: none; }
        .left-rail .login form input:focus,
        .left-rail .register form input:focus {
          border: 1px solid #2fce6f;
          outline: none !important; }
      .left-rail .login form label,
      .left-rail .register form label {
        color: #ffffff; }
      .left-rail .login form .submit,
      .left-rail .register form .submit {
        background: #9de263;
        border: none;
        border-bottom: 3px solid #75d227;
        color: #ffffff;
        font-weight: bolder;
        outline: none;
        padding: 10px;
        width: 100%; }
        .left-rail .login form .submit:hover,
        .left-rail .register form .submit:hover {
          background: #8fde4d; }

.header {
  padding-top: 20px;
  color: #ffffff;
  text-align: center; }

/*# sourceMappingURL=imports.css.map */
